:root {
  --colors--fontcolor: black;
  --colors--color2: white;
  --colors--fontcolor2: #404040;
  --colors--color1: white;
  --colors--switchcolor: black;
  --colors--background: #aaa;
}

.construction-label {
  position: fixed;
  top: 20px;
  left: auto;
  right: 20px;
  transform: none;
  background-color: #ffcc00;
  color: #333;
  padding: 10px 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  width: 30%;
  display: flex; /* New */
  align-items: center; /* New */
}

.close-btn {
  margin-left: 10px; /* Updated to push the close button to the right end */
  cursor: pointer;
  font-weight: bold;
  color: #333;
}


.construction-label span {
  font-size: 14px;
}


.social-link-group img, /* For icons that are images */
.social-link-group svg { /* For icons that are SVGs */
    transition: filter 0.3s ease;
}

[data-theme="dark"] .social-link-group img,
[data-theme="dark"] .social-link-group svg {
    filter: invert(1); /* Invert the colors in dark mode */
}

.switch {
  position: fixed;
  z-index: +1;
  bottom: 6px;
  left: 15px;
  display: inline-block;
  width: 50px; /* Smaller width */
  height: 28px; /* Smaller height */
}

/* Hide the default checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--colors--switchcolor);
  transition: 0.4s;
  border-radius: 28px; /* Adjusted for smaller size */
}

/* Slider before position (circle) */
.slider:before {
  position: absolute;
  content: "";
  height: 20px; /* Smaller circle */
  width: 20px;  /* Smaller circle */
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

/* When the checkbox is checked */
input:checked + .slider {
  background-color: var(--colors--switchcolor);
}

/* Move the slider (circle) when checked */
input:checked + .slider:before {
  transform: translateX(22px); /* Adjusted for smaller slider */
  background-color: #232929;
}


[data-theme="dark"] {
  --colors--fontcolor: #eee;
  --colors--color2: #2f4247;
  --colors--fontcolor2: #aaa;
  --colors--color1: #232929;
  --colors--switchcolor: #eee;
  --colors--background: #272727;
}

.w-users-userformpagewrap {
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  max-width: 340px;
  height: 100vh;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.w-users-userloginformwrapper {
  margin-bottom: 0;
  padding-left: 20px;
  padding-right: 20px;
  position: relative;
}

.w-users-userformheader {
  text-align: center;
}

.w-users-userformbutton {
  text-align: center;
  width: 100%;
}

.w-users-userformfooter {
  justify-content: space-between;
  margin-top: 12px;
  display: flex;
}

.w-users-userformerrorstate {
  margin-left: 20px;
  margin-right: 20px;
  position: absolute;
  top: 100%;
  left: 0%;
  right: 0%;
}

.w-users-usersignupformwrapper {
  margin-bottom: 0;
  padding-left: 20px;
  padding-right: 20px;
  position: relative;
}

.w-users-userformsuccessstate {
  display: none;
}

.w-checkbox {
  margin-bottom: 5px;
  padding-left: 20px;
  display: block;
}

.w-checkbox:before {
  content: " ";
  grid-area: 1 / 1 / 2 / 2;
  display: table;
}

.w-checkbox:after {
  content: " ";
  clear: both;
  grid-area: 1 / 1 / 2 / 2;
  display: table;
}

.w-checkbox-input {
  float: left;
  margin: 4px 0 0 -20px;
  line-height: normal;
}

.w-checkbox-input--inputType-custom {
  border: 1px solid #ccc;
  border-radius: 2px;
  width: 12px;
  height: 12px;
}

.w-checkbox-input--inputType-custom.w--redirected-checked {
  background-color: #3898ec;
  background-image: url('https://d3e54v103j8qbb.cloudfront.net/static/custom-checkbox-checkmark.589d534424.svg');
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  border-color: #3898ec;
}

.w-checkbox-input--inputType-custom.w--redirected-focus {
  box-shadow: 0 0 3px 1px #3898ec;
}

.w-users-usersignupverificationmessage {
  display: none;
}

.w-users-userresetpasswordformwrapper, .w-users-userupdatepasswordformwrapper {
  margin-bottom: 0;
  padding-left: 20px;
  padding-right: 20px;
  position: relative;
}

.w-users-useraccountwrapper {
  background-color: #f5f5f5;
  width: 100%;
  min-height: 100vh;
  padding: 20px;
}

.w-users-blockheader {
  background-color: #fff;
  border: 1px solid #e6e6e6;
  justify-content: space-between;
  align-items: baseline;
  padding: 4px 20px;
  display: flex;
}

.w-users-blockcontent {
  background-color: #fff;
  border-bottom: 1px solid #e6e6e6;
  border-left: 1px solid #e6e6e6;
  border-right: 1px solid #e6e6e6;
  margin-bottom: 20px;
  padding: 20px;
}

.w-users-useraccountformsavebutton {
  text-align: center;
  margin-right: 8px;
}

.w-users-useraccountformcancelbutton {
  text-align: center;
  color: #333;
  background-color: #d3d3d3;
}

body {
  color: #333;
  background-color: #f0f0f0;
  font-family: Lato, sans-serif;
  font-size: 14px;
  line-height: 135%;
}

h1 {
  margin-top: 0;
  margin-bottom: 15px;
  font-size: 35px;
  font-weight: 400;
  line-height: 40px;
}

h2 {
  margin-top: 30px;
  margin-bottom: 20px;
  font-size: 25px;
  font-weight: 400;
  line-height: 30px;
}

h3 {
  margin-top: 30px;
  margin-bottom: 20px;
  font-size: 21px;
  font-weight: 400;
  line-height: 30px;
}

h4 {
  margin-top: 0;
  margin-bottom: 15px;
  font-size: 17px;
  font-weight: 400;
  line-height: 22px;
}

h5 {
  text-transform: uppercase;
  margin-bottom: 20px;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
}

h6 {
  margin-top: 0;
  margin-bottom: 15px;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
}

p {
  margin-top: 0;
  margin-bottom: 20px;
  font-family: Lato, sans-serif;
  line-height: 160%;
}

a {
  color: #24a7ff;
  text-decoration: underline;
}

ul {
  margin-top: 0;
  margin-bottom: 20px;
  padding-left: 40px;
}

ol {
  margin-top: 0;
  margin-bottom: 10px;
  padding-left: 40px;
  font-family: Lato, sans-serif;
}

img {
  max-width: 100%;
  display: inline-block;
}

blockquote {
  border-left: 5px solid #e2e2e2;
  margin-bottom: 10px;
  padding: 10px 20px;
  font-size: 16px;
  line-height: 135%;
}

figure {
  margin-bottom: 20px;
}

figcaption {
  color: #aaa;
  text-align: center;
  margin-top: 5px;
  font-size: 13px;
}

.button {
  color: #fff;
  text-align: center;
  background-color: #888;
  border-radius: 3px;
  padding: 11px 20px;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
  transition: background-color .2s;
  display: inline-block;
}

.button:hover {
  background-color: #333;
}

.button.w--current {
  background-color: #2e80b6;
}

.section {
  background-color: #fff;
  padding-top: 63px;
  padding-bottom: 63px;
  position: relative;
}

.section.accent {
  background-color: #f3f3f3;
}

.section.dark {
  color: #fff;
  background-color: #5d5d5d;
}

.social-button {
  background-color: #000;
  border-radius: 100px;
  margin-bottom: 8px;
  margin-left: 4px;
  margin-right: 4px;
  padding: 8px;
  transition: opacity .3s;
}

.social-button:hover {
  opacity: .7;
}

.social-button.border {
  background-color: #0000;
  border: 1px solid #0000005c;
  padding: 6px;
}

.social-button.facebook {
  background-color: #3c5791;
}

.social-button.twitter {
  background-color: #29a9e8;
}

.social-button.red {
  background-color: #d11529;
}

.social-button.pink {
  background-color: #fc488f;
}

.social-button.pink2 {
  background-color: #ed1081;
}

.social-button.orange {
  background-color: #db4e34;
}

.social-button.vimeo {
  background-color: #1ebae7;
}

.social-button.linkdin {
  background-color: #1485c3;
}

.social-button.instagram {
  background-color: #4b769b;
}

.social-button.tumblr {
  background-color: #2e5270;
}

.social-button.webflow {
  background-color: #3278bd;
}

.social-button.medium {
  background-color: #549f63;
}

.social-icon-link {
  opacity: .36;
  width: 20px;
  margin-right: 9px;
  transition: opacity .2s;
}

.social-icon-link:hover {
  opacity: .9;
}

.nav-link {
  color: var(--colors--fontcolor);
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-top: 5px;
  margin-bottom: 5px;
  padding-left: 0;
  padding-right: 0;
  font-family: Lato, sans-serif;
  font-size: 12px;
  font-weight: 700;
  text-decoration: none;
  transition: color .2s;
  display: block;
}

.nav-link:hover {
  color: #2d3e4f;
}

.nav-link.w--current {
  color: var(--colors--fontcolor);
}

.grey-rule {
  background-color: var(--colors--fontcolor);
  color: var(--colors--fontcolor);
  width: 90px;
  height: 1px;
  margin-top: 25px;
  margin-bottom: 25px;
}

.site-name {
  color: var(--colors--fontcolor);
  font-size: 36px;
  line-height: 100%;
  text-decoration: none;
  display: block;
}

.site-name.w--current {
  color: var(--colors--fontcolor);
}

.site-description {
  color: var(--colors--fontcolor);
  line-height: 145%;
}

.built-with-webflow {
  color: #aaa;
  letter-spacing: 1.2px;
  text-transform: uppercase;
  font-size: 10px;
}

.webflow-link {
  color: #aaa;
  text-decoration: none;
}

.webflow-link:hover {
  color: #333;
}

.post-wrapper {
  pointer-events: auto;
  mix-blend-mode: normal;
  background-color: #0000;
  border-radius: 10px;
  margin-bottom: 50px;
  overflow: hidden;
  box-shadow: 12px 12px 13px 2px #0003;
}

.blog-image {
  background-image: url('../images/9dada863-97e8-49f3-9199-42d41fc8f82a.webp');
  background-repeat: no-repeat;
  background-size: cover;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  width: auto;
  max-width: none;
  height: 250px;
  text-decoration: underline;
  transition: opacity .2s;
  display: block;
}

.blog-image:hover {
  opacity: .8;
}

.blog-image.blog-page {
  height: 300px;
}

.blog-image.project-1 {
  background-position: 50% 100%;
}

.blog-image.project-2, .blog-image.project-34 {
  background-image: url('../images/5DCD79A6-98C3-482F-B766-75EB37EDA7B3.jpg');
  background-position: 50% 100%;
}

.blog-image.project-3 {
  background-image: url('../images/855f78cb-722d-4604-b2f6-26aca825c501.webp');
  background-position: 50%;
}

.post-content {
  background-color: var(--colors--color2);
  color: #2f4247;
  padding: 35px 35px 25px;
}

.post-summary {
  color: #eee;
  font-size: 14px;
  line-height: 22px;
  display: inline;
}

.post-info {
  color: var(--colors--fontcolor2);
  letter-spacing: 1px;
  text-transform: uppercase;
  margin-right: 8px;
  font-size: 10px;
  line-height: 18px;
  display: inline-block;
}

.post-info.link {
  text-decoration: none;
}

.post-info.link:hover {
  color: #333;
}

.blog-title-link {
  color: #333;
  text-decoration: none;
  transition: opacity .2s;
}

.blog-title-link:hover {
  opacity: .8;
}

.body-copy {
  text-align: left;
}

.body-copy p {
  color: var(--colors--fontcolor);
  margin-bottom: 10px;
}

.body-copy img {
  border-radius: 3px;
}

.body-copy li {
  margin-bottom: 3px;
}

.body-copy blockquote {
  line-height: 145%;
}

.body-copy figure {
  margin-bottom: 20px;
}

.about-image {
  -webkit-text-fill-color: inherit;
  background-image: url('../images/sleak-desk-setup-dall-e.webp');
  background-position: 50%;
  background-size: cover;
  background-clip: border-box;
  border-radius: 10px 10px 0 0;
  height: 300px;
  position: static;
}

.success-message {
  text-align: center;
  background-color: #f0f0f0;
  border-radius: 3px;
  padding-top: 49px;
  padding-bottom: 49px;
}

.success-message.white-background {
  background-color: #fff;
  border: 1px solid #dfdfdf;
}

.success-text {
  margin-bottom: 0;
  font-size: 17px;
}

.text-field {
  border-radius: 3px;
  margin-bottom: 15px;
}

.text-field.text-area {
  min-height: 110px;
}

.social-link-group {
  margin-bottom: 12px;
}

.read-more-link {
  color: #aaa;
  margin-left: 8px;
  font-family: Lato, sans-serif;
  font-size: 14px;
  line-height: 22%;
  text-decoration: underline;
  transition: color .2s;
  display: inline;
}

.read-more-link:hover {
  color: #333;
}

.content-wrapper {
  max-width: none;
  margin-left: 270px;
  padding: 25px 30px 50px;
}

.sidebar-wrapper {
  background-color: var(--colors--color1);
  border: 1px #aaa0;
  border-color: #aaa0 #aaa #0000 #0000;
  width: 270px;
  height: 100%;
  padding: 50px;
  position: fixed;
  box-shadow: 8px 2px 17px 11px #0003;
}

.blog-title {
  color: #eee;
  font-size: 30px;
  line-height: 37px;
}

.white-bg-heading {
  background-color: #fff;
  border-radius: 5px;
  margin-bottom: 40px;
  padding: 11px;
  box-shadow: 0 0 0 1px #0000000f;
}

.post-info-wrapper {
  margin-top: 16px;
}

.header {
  color: #eee;
}

.utility-page-wrap {
  justify-content: center;
  align-items: center;
  width: 100vw;
  max-width: 100%;
  height: 100vh;
  max-height: 100%;
  display: flex;
}

.utility-page-content {
  text-align: center;
  flex-direction: column;
  width: 260px;
  display: flex;
}

.utility-page-form {
  flex-direction: column;
  align-items: stretch;
  display: flex;
}

.body {
  background-color: #333;
}

.body-2 {
  background-color: var(--colors--background);
  color: #0000;
}

.heading {
  color: var(--colors--fontcolor);
  margin-bottom: 23px;
}

.blog-title-copy {
  color: #eee;
  font-size: 30px;
  line-height: 37px;
}

.post-wrapper-copy {
  pointer-events: auto;
  mix-blend-mode: normal;
  background-color: #0000;
  border-radius: 10px;
  margin-bottom: 50px;
  overflow: hidden;
  box-shadow: 12px 12px 13px 2px #0003;
}

.post-image {
  background-image: url('https://d3e54v103j8qbb.cloudfront.net/img/background-image.svg');
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  height: 250px;
  transition: opacity .2s;
  display: block;
}

.post-image:hover {
  opacity: .8;
}

.post-image.blog-page {
  height: 300px;
}

.post-title {
  color: var(--colors--fontcolor);
  font-size: 30px;
}

.link-block {
  background-image: url('../images/9dada863-97e8-49f3-9199-42d41fc8f82a.webp');
  background-position: 0 0;
  background-size: auto;
}

.post-content-summary {
  color: var(--colors--fontcolor);
}

@media screen and (max-width: 991px) {


  .post-wrapper {
    margin-bottom: 35px;
    box-shadow: 7px 7px 20px 1px #dadada33;
  }

  .blog-image {
    height: 190px;
  }

  .about-image {
    height: 250px;
  }

  .content-wrapper {
    margin-left: 232px;
    padding: 25px 30px 30px;
  }

  .sidebar-wrapper {
    width: 230px;
    padding: 30px;
  }

  .white-bg-heading {
    margin-bottom: 20px;
  }

  .post-wrapper-copy {
    margin-bottom: 35px;
    box-shadow: 7px 7px 20px 1px #dadada33;
  }

  .post-image {
    height: 190px;
  }
}

@media screen and (max-width: 767px) {


  .navigation{
    margin-bottom: 15px;
    margin-top: 15px;
  }

  .switch {
    position: absolute;
    top: 12px;
    left: 12px;
  }

  .construction-label {
    width: 60%;
    top:auto;
    bottom:20px;
    right:15px;
  }

  .site-name {
    font-size: 25px;
  }

  .social-icon-link{  
    width: 15px;
    margin-left: 6px;
    margin-right: 6px;
  }

  .nav-link {
    margin: 0 10px;
    display: inline-block;
  }

  .grey-rule {
    margin: 21px auto;
    display: block;
  }

  .site-name.w--current {
    margin-bottom: 15px;
  }

  .site-description {
    font-size: 13px;
    margin-top: 8px;
    margin-bottom: 8px;
    padding-top: 0;
  }

  .built-with-webflow {
    margin-bottom: 0;
  }

  .post-wrapper {
    margin-bottom: 30px;
  }

  .post-content {
    padding: 20px;
  }

  .about-image {
    background-position: 50% 0;
    background-size: cover;
    height: 250px;
  }

  .social-link-group {
    margin-bottom: 0;
  }

  .button-wrapper {
    text-align: center;
  }

  .content-wrapper {
    width: 100%;
    margin-left: 0;
  }

  .sidebar-wrapper {
    text-align: center;
    border-right-style: none;
    width: 100%;
    position: static;
  }

  .blog-title {
    font-size: 27px;
    line-height: 36px;
  }

  .blog-title-copy {
    font-size: 27px;
    line-height: 36px;
  }

  .post-wrapper-copy {
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 479px) {


  .post-wrapper {
    margin-bottom: 20px;
  }

  .blog-image {
    height: 190px;
  }

  .about-image {
    height: 150px;
  }

  .content-wrapper, .sidebar-wrapper {
    padding: 20px;
  }

  .blog-title {
    font-size: 26px;
    line-height: 32px;
  }

  .blog-title-copy {
    font-size: 26px;
    line-height: 32px;
  }

  .post-wrapper-copy {
    margin-bottom: 20px;
  }

  .post-image {
    height: 190px;
  }
}


